{# Workshops Template #}
{% extends '_layout' %}

{% block content %}
  {% set entry = craft.entries().section('workshops').one() %}
  <main id="workshops">
    {# <h2>Workshops</h2> #}
    
    <section id="content">
      <h3>{{ entry.title }}</h3>

      {% set img = entry.img.one() %}
      {% if img|length %}
      <img src="{{ img.getUrl() }}" alt="{{ currentSite.name  }}, {{ entry.title }}">
      {% endif %}

      {{ entry.text }}

      <div style="display: flex">
        <p class="button"><a href="mailto:mail@francoisenussbaumer.ch?subject=Anmeldung">Anmelden</a></p>
      </div>

    </section>

  </main>

{% include 'includes/footer' %}

{% endblock %}
